<h2>Регистрация</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class='field'>
    <%= f.label 'Логин' %>
    <%= f.text_field :login %>
  </div>
  <div class='field'>
    <%= f.label 'E-mail' %>
    <%= f.email_field :email %>
  </div>
  <div class='field'>
    <%= f.label 'Пароль' %>
    <%= f.password_field :password %>
  </div>
  <div class='field'>
    <%= f.label 'Подтверждение' %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class='field'>
    <%= f.label 'Тип' %>
    <%= f.select :type, "<option value='Reader'>Читатель</option><option value='Writer'>Писатель</option>".html_safe %>
  </div>  
  <div class='actions'>
    <%= f.submit "Зарегестрироваться" %>
    <%= render :partial => "devise/shared/links" %>
  </div>
<% end %>